<strong>Olá, {{ student }}</strong>
<p>Sua solicitação de ajuda for respondido por nossa equipe do Gympoint:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
    Para maiores informação, por favor entrar em contato na recepção da academia.
  </small>
</p>
